* {
    margin: 0;
}

.container, .flex {
    width: 100vw;
    height: 100vh;
}
.header{
    width: 100vw;
    height: 100px;
    border-style: solid;
    background-color: yellow;
}
.body{
    width: 100vw;
    height: calc(100vh - 100px);
    border-right: solid;
    border-bottom: solid;
    border-left: solid;
    background-color: blue;
    display: flex;
}
.menu{
    width: 300px;
    height: calc(100vh - 100px);
    border-right: solid;
    background-color: orange;
}
